*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A0909;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    margin: 30px 0 ;
    display: flex;
    gap: 40px;
}

button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover{
    opacity: 0.7 ;
}

#rock{
    background-color: #a200FF;
}

#paper{
    background-color: #9ee01a;
}

#scissors{
    background-color: #7dbeed;
}

p{
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 25px;
}

.your-score span{
    color: rgb(52, 62, 200);
}

.machine-score span{
    color: rgba(217, 18, 18, 0.842);
}